test/smpp_external/additional/MPESA_ONLINE_CHECKOUT_SERVICE.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
xmlns:tns="tns:ns" 
xmlns:s="http://www.w3.org/2001/XMLSchema" 
targetNamespace="tns:ns" 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="tns:ns">
      <s:element name="CustomerValidateRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CustomerNumber" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="RequestId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MerchantName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Reference" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Amount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OTP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CustomerValidateResponse">
        <s:complexType>
          <s:sequence>
		<s:element minOccurs="1" name="ResponseCode" type="s:int" />
	    	<s:element minOccurs="1" name="ResponseMsg" type="s:string" />
           </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  
  <wsdl:message name="CustomerValidateRequest">
    <wsdl:part name="parameters" element="tns:CustomerValidateRequest" />
  </wsdl:message>
  <wsdl:message name="CustomerValidateResponse">
    <wsdl:part name="parameters" element="tns:CustomerValidateResponse" />
  </wsdl:message>
    
  <wsdl:portType name="XML_SRV_portType">
    <wsdl:operation name="CustomerValidate">
      <wsdl:input message="tns:CustomerValidateRequest" />
      <wsdl:output message="tns:CustomerValidateResponse" />
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="XML_SRV_binding" type="tns:XML_SRV_portType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
     <wsdl:operation name="CustomerValidate">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
   </wsdl:binding>
   
   <wsdl:service name="XML_SRV_Service">
    <wsdl:port name="XML_SRV" binding="tns:XML_SRV_binding">
      <soap:address location="http://10.25.202.31:8485/MPESA_ONLINE_CHECKOUT_SERVICE.wsdl" />
    </wsdl:port>
     </wsdl:service>
</wsdl:definitions>

