test/smpp_external/additional/NI_USSD_PUSH_SERVICE.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--Created with Liquid XML 2014 Designer Edition (Trial) 12.1.4.5047 (http://www.liquid-technologies.com)-->
<wsdl:definitions targetNamespace="tns:ns"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="tns:ns"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <s:schema elementFormDefault="qualified"
                  targetNamespace="tns:ns">
            <s:element name="NetworkInitiatedUSSDPushRequestMsg">
                <s:complexType>
                    <s:sequence>
                        <s:element name="RequestHeader">
                            <s:complexType>
                                <s:sequence>
                                    <s:element name="TimeStamp"
                                               type="s:dateTime" />
                                    <s:element name="CommandID"
                                               type="s:string" />
                                    <s:element name="RequestID"
                                               type="s:string" />
                                    <s:element name="CallerIdentity">
                                        <s:complexType>
                                            <s:sequence>
                                                <s:element name="UserName"
                                                           type="s:string" />
                                                <s:element name="Password"
                                                           type="s:base64Binary" />
                                                <s:element name="RemoteAddress"
                                                           type="s:string" />
                                            </s:sequence>
                                        </s:complexType>
                                    </s:element>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                        <s:element name="NetworkInitiatedUSSDPushRequest">
                            <s:complexType>
                                <s:sequence>
                                    <s:element name="InitiatorParty">
                                        <s:complexType>
                                            <s:sequence>
                                                <s:element name="InitiatorPartyType"
                                                           type="s:int" />
                                                <s:element minOccurs="0"
                                                           name="InitiatorPartyDesc"
                                                           type="s:string" />
                                                <s:element name="InitiatorIdentity">
                                                    <s:complexType>
                                                        <s:sequence>
                                                            <s:element name="UserName"
                                                                       type="s:string" />
                                                            <s:element name="Password"
                                                                       type="s:base64Binary" />
                                                            <s:element minOccurs="0"
                                                                       name="RemoteAddress"
                                                                       type="s:string" />
                                                            <s:element minOccurs="0"
                                                                       name="ResultURL"
                                                                       type="s:string" />
                                                        </s:sequence>
                                                    </s:complexType>
                                                </s:element>
                                            </s:sequence>
                                        </s:complexType>
                                    </s:element>
                                    <s:element name="ReceiverParty">
                                        <s:complexType>
                                            <s:sequence>
                                                <s:element name="ReceiverPartyType"
                                                           type="s:int" />
                                                <s:element name="ReceiverPartyDesc"
                                                           type="s:string" />
                                                <s:element name="ReceiverPartyIdentifier"
                                                           type="s:int" />
                                            </s:sequence>
                                        </s:complexType>
                                    </s:element>
                                    <s:element name="Transaction">
                                        <s:complexType>
                                            <s:sequence>
                                                <s:element name="TransactionType"
                                                           type="s:string" />
                                                <s:element minOccurs="0"
                                                           name="TransactionDesc"
                                                           type="s:string" />
                                                <s:element minOccurs="0"
                                                           name="TransactionMode"
                                                           type="s:int" />
                                                <s:element minOccurs="0"
                                                           name="TransactionParameters">
                                                    <s:complexType>
                                                        <s:sequence>
                                                            <s:element minOccurs="0"
                                                                       name="Param">
                                                                <s:complexType>
                                                                    <s:sequence>
                                                                        <s:element name="Key"
                                                                                   type="s:string" />
                                                                        <s:element name="Value"
                                                                                   type="s:string" />
                                                                    </s:sequence>
                                                                </s:complexType>
                                                            </s:element>
                                                        </s:sequence>
                                                    </s:complexType>
                                                </s:element>
                                                <s:element minOccurs="0"
                                                           name="AdditionalInfo"
                                                           type="s:string" />
                                            </s:sequence>
                                        </s:complexType>
                                    </s:element>
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="NetworkInitiatedUSSDPushResponseMsg">
                <s:complexType>
                    <s:sequence>
                        <s:element name="ResponseHeader">
                            <s:complexType>
                                <s:sequence>
                                    <s:element name="CommandID"
                                               type="s:string" />
                                    <s:element name="OriginalRequestID"
                                               type="s:string" />
                                    <s:element name="USSDSessionID"
                                               type="s:string" />
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                        <s:element name="NetworkInitiatedUSSDPushResponse">
                            <s:complexType>
                                <s:sequence>
                                    <s:element name="ResponseCode"
                                               type="s:int" />
                                    <s:element name="ResponseDesc"
                                               type="s:string" />
                                    <s:element name="TransactionType"
                                               type="s:string" />
                                    <s:element minOccurs="0"
                                               name="ResponseParameters">
                                        <s:complexType>
                                            <s:sequence>
                                                <s:element minOccurs="0"
                                                           maxOccurs="unbounded"
                                                           name="Param">
                                                    <s:complexType>
                                                        <s:sequence>
                                                            <s:element name="Key"
                                                                       type="s:string" />
                                                            <s:element name="Value"
                                                                       type="s:string" />
                                                        </s:sequence>
                                                    </s:complexType>
                                                </s:element>
                                            </s:sequence>
                                        </s:complexType>
                                    </s:element>
                                    <s:element minOccurs="0"
                                               name="AdditionalInfo"
                                               type="s:string" />
                                </s:sequence>
                            </s:complexType>
                        </s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="NetworkInitiatedUSSDPushRequestMsg">
        <wsdl:part name="parameters"
                   element="tns:NetworkInitiatedUSSDPushRequestMsg" />
    </wsdl:message>
    <wsdl:message name="NetworkInitiatedUSSDPushResponseMsg">
        <wsdl:part name="parameters"
                   element="tns:NetworkInitiatedUSSDPushResponseMsg" />
    </wsdl:message>
    <wsdl:portType name="XML_SRV_NI_USSD_PortType">
        <wsdl:operation name="NI_USSD_PUSH">
            <wsdl:input message="tns:NetworkInitiatedUSSDPushRequestMsg" />
            <wsdl:output message="tns:NetworkInitiatedUSSDPushResponseMsg" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="XML_SRV_NI_USSD_Binding"
                  type="tns:XML_SRV_NI_USSD_PortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="NI_USSD_PUSH">
            <wsdl:input />
            <wsdl:output />
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="XML_SRV_NI_USSD">
        <wsdl:port name="XML_SRV"
                   binding="tns:XML_SRV_NI_USSD_Binding">
            <soap:address location="http://10.5.96.165:8282/SDP_CUSTOMER_CHARGE_CONFIRM.wsdl" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
