test/smpp_external/additional/SC_KE_XML_SRV_Service_E02.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
xmlns:tns="tns:ns" 
xmlns:s="http://www.w3.org/2001/XMLSchema" 
targetNamespace="tns:ns" 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="tns:ns">
      <s:element name="WORequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CallingPartyNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CalledPartyNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ServiceScenario" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ServiceType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="CallingRoamCountryCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CallingRoamNetworkCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CurrentPointAmt" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="ETUInfoList" type="tns:ETUInfo" />
            <s:element minOccurs="0" maxOccurs="1" name="CurrentBalance" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WOResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="response" nillable="true" type="tns:result"/>
           </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ETUInfo">
		<s:sequence>
		  <s:element minOccurs="0" maxOccurs="1" name="ETUGrade" type="s:int"></s:element>
		  <s:element minOccurs="0" maxOccurs="1" name="ETUAmt" type="s:long"></s:element>
		  <s:element minOccurs="0" maxOccurs="1" name="ETUPoundage" type="s:long"></s:element>
		  <s:element minOccurs="0" maxOccurs="1" name="ETUGraceDay" type="s:int"></s:element>
		</s:sequence>
	  </s:complexType>
      <s:complexType name="result">
		<s:sequence>
		  <s:element minOccurs="1" name="responseCode" type="s:int"></s:element>
		  <s:element minOccurs="1" name="responseMsg" type="s:string"></s:element>
		</s:sequence>
	  </s:complexType>
    </s:schema>
  </wsdl:types>
  
  <wsdl:message name="WORequest">
    <wsdl:part name="parameters" element="tns:WORequest" />
  </wsdl:message>
  <wsdl:message name="WOResponse">
    <wsdl:part name="parameters" element="tns:WOResponse" />
  </wsdl:message>
    
  <wsdl:portType name="XML_SRV_portType">
    <wsdl:operation name="WO">
      <wsdl:input message="tns:WORequest" />
      <wsdl:output message="tns:WOResponse" />
    </wsdl:operation>

  </wsdl:portType>
  
  <wsdl:binding name="XML_SRV_binding" type="tns:XML_SRV_portType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
     <wsdl:operation name="WO">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
   </wsdl:binding>
   
   <wsdl:service name="XML_SRV_Service">
    <wsdl:port name="XML_SRV" binding="tns:XML_SRV_binding">
      <soap:address location="http://10.5.96.165:8484/SC_KE_XML_SRV_Service_E02.wsdl" />
    </wsdl:port>
     </wsdl:service>
</wsdl:definitions>
